.banner_features
    margin-top: 80px
    margin-bottom: 80px
    .wrapper
        background-color: #222224
    &__label
        position: absolute
        color: #ffffff
        font-size: 53px
        font-weight: 700
        text-align: left
        width: 180px
        text-transform: uppercase
        top: 136px
        left: 37px
        b
            margin: 20px
            color: #f16d7f
        span
            font-size: 30px
            display: block
    &__banner
        position: relative