mixin scripts()
    // begin scripts
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="https://use.fontawesome.com/f314604f49.js")


    script(src=cacheReset("assets/js/scripts.min.js"))

    // end scripts
