.top_sale
    margin-top: 80px
    .wrapper
        flex-direction: column
    &__header
        & > *
            text-align: center
        h3
            font-size: 32px
            font-weight: 700
            line-height: 54px
            margin: 0
        div
            color: #9f9f9f
            font-size: 15px
            font-weight: 400
            line-height: 7px
    &__body
        display: flex
        margin-top: 65px
        flex-wrap: wrap
        & > *:nth-child(4n+4) {
            margin-right: 0;
        }
    &__browse_all
        background-color: #f16d7f
        width: 210px
        height: 50px
        color: #ffffff
        font-size: 17px
        font-weight: 700
        line-height: 50px
        text-align: center
        margin: 30px auto
        text-decoration: none
        display: block
        i
            padding-left: 10px