.footer_text
    width: 40%;
    &__logo
        display block
        font-size: 27px;
        font-weight: 300
        width: 160px
        margin: auto 0 30px
        align-items: center
        color: #222
        text-transform: uppercase
        img
            margin-left: -4px
        span
            line-height: 57px
            display: block
            float: right
            b
                font-weight: 900
                color: #f16d7f
    &__text
        p
            color: #898989
            font-size: 14px
            font-weight: 300
            line-height: 24px