mixin footer_text()
    +b.footer_text&attributes(attributes)
        +e.logo
            +e.img(src="assets/img/header__logo.png")
            span Bran
                b d
        +e.text
            p Objectively transition extensive data rather than cross functional solutions. Monotonectally syndicate multidisciplinary materials before go forward benefits. Intrinsicly syndicate an expanded array of processes and cross-unit partnerships.
            p Efficiently plagiarize 24/365 action items and focused infomediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.