mixin page_header()
    +b.HEADER.page_header
        .wrapper
            +e.H1.title Title
            +b.breadcrumbs
                +e.item(href="#") Home
                +e.item(href="#") Men
                +e.item New arrivals
        