.page_header
    margin-bottom: 60px
    background-color:  #f8f3f4
    height: 150px
    &__title
        color:  #f16d7f
        font-size: 24px
        font-weight: 900
        text-transform uppercase
        margin: auto 0
    .breadcrumbs
        margin: auto 0 auto auto
        display flex
        &__item
            color #f17687
            text-transform: uppercase
        a
            color #636363
            position relative
            margin-right 12px
            &:after
                content " / "
                position: absolute;
                right: -9px