.special_offers
    .wrapper
        display: flex
        flex-direction: column
        flex-wrap: wrap
        height: 850px
        margin-top: 80px
    &__item
        margin-top: 20px
        margin-right: 20px
        position: relative
        .label
            color: #f16d7f
            font-size: 30px
            font-weight: 900
            text-align: left
            background-color: #ffffff
            position: absolute
            top: 30px
            text-transform: uppercase
            padding: 10px 20px
            span
                color: #222222
                font-size: 18px
                font-weight: 900
                display: block