mixin copyright()
    +b.copyright&attributes(attributes)
        .wrapper
            +e.text © 2017  Brand  All Rights Reserved.
            +e.social
                a.fa.fa-facebook(href="#")
                a.fa.fa-twitter(href="#")
                a.fa.fa-linkedin(href="#")
                a.fa.fa-pinterest-p(href="#")
                a.fa.fa-google-plus(href="#")