.nav_in_header
    display: flex
    height: 51px
    border-top: 1px solid #ececec;
    ul
        margin: 0 auto
        list-style: none
        display: flex
        flex-basis: auto
    &__item
        text-transform: uppercase;
        color: #222222;
        display: block;
        padding: 10px 23px;
        line-height: 28px;
        font-size: 14px;
        font-weight: 700;
        margin: auto
        &:hover
            text-decoration: none;
            border-bottom: 3px #ef5b70 solid;