.footer_menu
    flex-direction: row
    display: flex
    width: 60%
    &__wrapper
        margin: 0 auto
    &__menu
        padding: 0
        list-style: none
        margin-top: 20px
    &__name
        color:  #f16d7f
        font-size: 18px
        font-weight: 700
        text-transform: uppercase
    &__item a
        color:  #898989
        font-size: 16px
        line-height: 45px