mixin footer_menu()
    +b.NAV.footer_menu&attributes(attributes)
        +e.wrapper
            +e.name Company
            +e.UL.menu
                +e.LI.item
                    a(href="#") Home
                +e.LI.item
                    a(href="#") Shop
                +e.LI.item
                    a(href="#") About
                +e.LI.item
                    a(href="#") How It Works
                +e.LI.item
                    a(href="#") Contact
        +e.wrapper
            +e.name Information
            +e.UL.menu
                +e.LI.item
                    a(href="#") Tearms & Condition
                +e.LI.item
                    a(href="#") Privacy Policy
                +e.LI.item
                    a(href="#") How to Buy
                +e.LI.item
                    a(href="#") How to Sell
                +e.LI.item
                    a(href="#") Promotion
        +e.wrapper
            +e.name Shop category
            +e.UL.menu
                +e.LI.item
                    a(href="#") Men
                +e.LI.item
                    a(href="#") Women
                +e.LI.item
                    a(href="#") Child
                +e.LI.item
                    a(href="#") Apparel
                +e.LI.item
                    a(href="#") Browse All
        