include ../catalog_item/catalog_item
include ../page_header/page_header
include ../pager/pager
include ../slider/slider
mixin catalog()
    +b.ARTICLE.catalog
        +page_header()
        .wrapper
            +e.sidebar
                +e.NAV.menu
                    input(id="menu1", type="checkbox", checked="checked")
                    label(for="menu1") Category
                    ul
                        li
                            a(href="#") Accessories
                        li
                            a(href="#") Bags
                        li
                            a(href="#") Denim
                        li
                            a(href="#") Hoodies & Sweatshirts
                        li
                            a(href="#") Jackets & Coats
                        li
                            a(href="#") Pants
                        li
                            a(href="#") Polos
                        li
                            a(href="#") Shirts
                        li
                            a(href="#") Shoes
                        li
                            a(href="#") Shorts
                        li
                            a(href="#") Sweaters & Knits
                        li
                            a(href="#") T-Shirts
                        li
                            a(href="#") Tanks
                    input(id="menu2", type="checkbox")
                    label(for="menu2") Brand
                    ul
                        li
                            a(href="#") Accessories
                        li
                            a(href="#") Bags
                        li
                            a(href="#") Denim
                        li
                            a(href="#") Hoodies & Sweatshirts
                        li
                            a(href="#") Jackets & Coats
                        li
                            a(href="#") Pants
                        li
                            a(href="#") Polos
                        li
                            a(href="#") Shirts
                        li
                            a(href="#") Shoes
                        li
                            a(href="#") Shorts
                        li
                            a(href="#") Sweaters & Knits
                        li
                            a(href="#") T-Shirts
                        li
                            a(href="#") Tanks
                    input(id="menu3", type="checkbox")
                    label(for="menu3") Designer
                    ul
                        li
                            a(href="#") Accessories
                        li
                            a(href="#") Bags
                        li
                            a(href="#") Denim
                        li
                            a(href="#") Hoodies & Sweatshirts
                        li
                            a(href="#") Jackets & Coats
                        li
                            a(href="#") Pants
                        li
                            a(href="#") Polos
                        li
                            a(href="#") Shirts
                        li
                            a(href="#") Shoes
                        li
                            a(href="#") Shorts
                        li
                            a(href="#") Sweaters & Knits
                        li
                            a(href="#") T-Shirts
                        li
                            a(href="#") Tanks
            +e.content
                +e.filters
                    +b.filter
                        +e.title Trending now
                        +e.body
                            +e.link(href="#") Bohemian
                            +e.link(href="#") Floral
                            +e.link(href="#") Lace
                            +e.link(href="#") Lace
                            +e.link(href="#") Floral
                            +e.link(href="#") Bohemian
                    +b.filter
                        +e.title Size
                        +e.body.--column
                            +e.LABEL.item
                                input(type="checkbox")
                                | XXS
                            +e.LABEL.item
                                input(type="checkbox")
                                | XS
                            +e.LABEL.item
                                input(type="checkbox")
                                | S
                            +e.LABEL.item
                                input(type="checkbox")
                                | M
                            +e.LABEL.item
                                input(type="checkbox")
                                | L
                            +e.LABEL.item
                                input(type="checkbox")
                                | XL
                            +e.LABEL.item
                                input(type="checkbox")
                                | XXL
                    +b.filter
                        +e.title Price
                        +e.body
                            +slider()

                +e.sorts
                    +e.sort_name Sort by
                    +e.SELECT
                        option Name
                        option Price
                    +e.sort_name Show
                    +e.SELECT
                        option 09
                        option 18
                +e.SECTION.items
                    - var n = 1;
                        while n <= 9
                            +catalog_item(n++,"Image-")
                +e.FOOTER.footer
                    +pager()
                    +e.button_view_all(href="#") View All