- var page = "product"

//- include ../sprite-svg/sprite-svg

include ../blocks/head/head
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/scripts/scripts
include ../blocks/jumbotron/jumbotron

doctype html

html(lang="ru")

    +head("Каталог")

    body
        +header()
        +jumbotron()
        +b.content
            +e.container

        // end content
        +footer()
        
        // end popups
        +scripts()
