.jumbotron
    background: #e8e8e8
    &__item
        display: flex;
        flex: 1;
        text-decoration: none;
        &:hover
            text-decoration: none
    &__img
        margin: 1px 0 0 auto
    &__texts
        color: #222222
        font-size: 40px
        font-weight: 900
        text-align: left
        margin: 223px auto auto 0
        border-left: 12px #f16d7f solid
        padding-left: 12px
        text-transform: uppercase;
        display: flex
        flex-direction: column
    &__text
        line-height: 30px;
        b
            color: #f16d7f;
    &__text--big
        font-size: 60px
        line-height: 45px;
        padding-bottom: 20px;