mixin jumbotron()
    +b.jumbotron&attributes(attributes)
        .wrapper
            +e.A.item
                +e.texts
                    +e.text.--big The brand
                    +e.text of luxerious <b>fashion</b>
                +e.img(src="assets/img/jumbotron.jpg")