include ../page_header/page_header
mixin product()
    +b.ARTICLE.product
        +page_header()
        +b.slider
            +e.left
            +e.items
                +e.item
                +e.item
            +e.right
        .wrapper
            .product_wrapper
                +e.category
                +e.devider
                +e.name
                +e.rating
                +e.description
                +e.props
                    +e.prop
                    +e.prop
                +e.price
                hr
                +e.options
                    +e.option
                    +e.option
                    +e.option
                +e.button.--add-to-cart
        hr