mixin features()
    +b.features&attributes(attributes)
        +e.feature
            +e.icon(src="assets/img/icon2.png")
            +e.block
                b Free delivery
                span Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
        +e.feature
            +e.icon(src="assets/img/icon3.png")
            +e.block
                b Sales & discounts
                span Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.
        +e.feature
            +e.icon(src="assets/img/icon1.png")
            +e.block
                b Quality assurance
                span Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.